
<div class="modal-content">
    <div class="modal-header">
        <span>Configuration</span>
    </div>

    <div class="modal-body">

        <span> Limits:</span><br/>
        <span>Backlog</span> <input type="range" min="0" max="10" step="1" style="width: 200px;"/><br/>
        <span>In Work</span><input type="range" min="0" max="10" step="1" style="width: 200px;" /><br />
        <span>Waiting for test</span><input type="range" min="0" max="10" step="1" style="width: 200px;" /><br />
        <span>In test</span><input type="range" min="0" max="10" step="1" style="width: 200px;" /><br />
        <span>Waiting for release</span><input type="range" min="0" max="10" step="1" style="width: 200px;" /><br />

        <span> Members:</span>
        <div style="color:azure" ng-repeat="member in dashboard.testList.Members track by $index">
            <row>
                <div class="col-md-6">
                    {{member.Name}}
                </div>
                <div class="col-md-6">
                    <input type="checkbox" ng-model="member.Show" ng-change="submitMemberShow(member, dashboard.selectedQuery)"/>
                </div>
            </row>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger modal-btn" ng-click="cancel()">Close</button>
    </div>
</div>
