<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Connect to TFS</h4>
            </div>
            <div class="modal-body">
                <p>Name: <input type="text" ng-model="name"></p>
                <button ng-click="connect(name)">Connect</button>
                <select name="selectedCollectionName" ng-model="selectedCollectionName">
                    <option ng-repeat="name in nameList" value="{{name}}">{{name}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>