
<div class="modal-content" ng-init="init()">
    <div class="modal-header">
        <span>Connect to TFS</span>
    </div>
    <div class="modal-body" ng-show="showModal">
        <row>
            <div class="col-md-12">
                <span>Collection URL:</span>
            </div>

            <div class="col-md-9">
                <input class="input-url" type="text" ng-model="conUrl" />
            </div>
        </row>
        <row>
            <div class="col-md-3">
                <button class="modal-ok-btn btn btn-default" ng-disabled="loadingQuery" ng-click="connect(conUrl)">Connect</button>
            </div>
        </row>
        <br /><br /><br />
        <span style="margin:20px">Collection:</span>
        <row class="col-md-12">
            <select class="connection-dropdown" ng-model="dashboard.selectedCollection" ng-disabled="!isUrlValid" ng-change="selectCollection(dashboard.selectedCollection)"
                    ng-options="collection.Name for collection in collectionList track by collection.Name" value="collection.Name"></select>
        </row>
        <br /><br /><br />
        <span style="margin:20px">Project:</span>
        <row class="col-md-12">
            <select class="connection-dropdown" ng-model="dashboard.selectedProject" ng-disabled="!isCollectionSelected" value="project.Name" ng-change="selectProject(dashboard.selectedProject)"
                    ng-options="project.Name for project in projectList track by project.Name"></select>
        </row>
        <br /><br /><br />
        <span style="margin:20px">Query:</span>
        <row class="col-md-12">
            <select class="connection-dropdown" ng-model="dashboard.selectedQuery" ng-disabled="!isProjectSelected" ng-options="query for query in queriesList track by query" value="query.Name"></select>
        </row>
    </div>
    <div class="modal-footer">
        <button class="btn modal-ok-btn modal-btn" ng-disabled="loadingQuery" ng-click="getWorkItems(dashboard.selectedQuery, dashboard.selectedProject)">Save</button>
        <button class="btn btn-warning modal-btn" ng-disabled="loadingQuery" ng-click="cancel()">Cancel</button>
    </div>
</div>