<head>
    <title>dash</title>
    <link href="~/stylesheets/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="container" class="container-fluid" ng-controller="HomeController">
        <div class="row" style="height:30px;">
            <navigation-bar></navigation-bar>
        </div>
        <div ng-show="dashboard.itemsLoaded" class="row">
            <div class="col-md-1 mini-box">
            </div>
            <div class="col-md-2 mini-box">
                Backlog
            </div>
            <div class="col-md-2 mini-box">
                In work
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 bot-mini-box">
                        Waiting for test
                    </div>
                    <div class="col-md-3 bot-mini-box">
                        In test
                    </div>
                    <div class="col-md-5 bot-mini-box">
                        Waiting for release
                    </div>
                </div>
            </div>
        </div>
        <div style="color:azure" ng-repeat="member in dashboard.testList.Members track by $index">
            <div class="row" ng-show="member.Show">
                <div class="col-md-1 normal-box">
                    {{member.Name}}
                </div>
                <div ng-repeat="column in dashboard.columnList">
                    <div style="padding: 0" class="col-md-2 normal-box" ng-class="{'warning-bg' : ifOverLimit(member, column)}">

                        <div ng-repeat="workItem in member.BugsAssigned | workItemsState:column.Name">
                            <ticket></ticket>
                        </div>
                        <div ng-repeat="workItem in member.ChangeRequestsAssigned | workItemsState:column.Name">
                            <ticket></ticket>
                        </div>
                        <div ng-repeat="workItem in member.RequirementsAssigned | workItemsState:column.Name">
                            <ticket></ticket>
                        </div>
                        </>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>