<head>
    <title>dash</title>
    <link href="~/stylesheets/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" ng-controller="HomeController">

        <div class="row" style="height:30px;">
            <navigation-bar></navigation-bar>
        </div>
        <div class="row">
            <div class="col-md-1 mini-box">
            </div>
            <div class="col-md-2 mini-box">
                Backlog
            </div>
            <div class="col-md-2 mini-box">
                In work
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 bot-mini-box">
                        Waiting for test
                    </div>
                    <div class="col-md-3 bot-mini-box">
                        In test
                    </div>
                    <div class="col-md-5 bot-mini-box">
                        Waiting for release
                    </div>
                </div>
            </div>
        </div>
        <div style="color:azure" ng-repeat="member in dashboard.testList.members track by $index">
            <div class="row">
                <div class="col-md-1 box">
                    {{member.Name}}
                </div>
                <div class="col-md-2 box" style="padding:0">
                    <div class="bug col-md-1">DATS A BUG</div>
                    <div class="bug col-md-1"></div>
                </div>
            </div>
        </div>
    </div>

</body>

