<head>
    <title>dash</title>
    <link href="~/stylesheets/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" ng-controller="HomeController">
        <div class="row" style="height:30px;">
            <navigation-bar></navigation-bar>
        </div>
        <div ng-show="dashboard.itemsLoaded" class="row">
            <div class="col-md-1 mini-box">
            </div>
            <div class="col-md-2 mini-box">
                Backlog
            </div>
            <div class="col-md-2 mini-box">
                In work
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 bot-mini-box">
                        Waiting for test
                    </div>
                    <div class="col-md-3 bot-mini-box">
                        In test
                    </div>
                    <div class="col-md-5 bot-mini-box">
                        Waiting for release
                    </div>
                </div>
            </div>
        </div>
        <div style="color:azure" ng-repeat="member in dashboard.testList.members track by $index">
            <div class="row">
                <div class="col-md-1 normal-box">
                    {{member.Name}}
                </div>
                <div ng-repeat="n in [1,2,3,4,5]">
                    <div style="padding:0" class="col-md-2 normal-box">
                        <div ng-repeat="workItem in member.BugsAssigned | workItemsState:n">
                            <div tabindex="0" rel="popover" data-color="red" popover-trigger="focus" popover-placement="bottom" popover-template="details.templateUrl" style="padding:3px;" class="bug col-md-1">
                                <p style="margin:0; padding:0;">{{workItem.Id}}:</p>
                                <img ng-show="workItem.Blocked" src="~/Content/appbar.cancel.png" style="float:right" />
                                <p style="margin:0; padding:0;">{{workItem.Title | limitTo: 35}}..</p>
                                <p style="margin:0; padding:0">C:{{workItem.OverallCompletedTime}} / E: {{workItem.OverallEstimatedTime}} / R: {{workItem.OverallRemainingTime}}</p>
                                <div>
                                    <div class="bug-overdue" ng-show="ifWorkItemOverdue(workItem)">
                                        <p>{{workItem.overdueTime}} {{workItem.hoursMsg}} overdue</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="workItem in member.ChangeRequestsAssigned | workItemsState:n">
                            <div tabindex="0" popover-trigger="focus" popover-placement="bottom" rel="popover" data-color="blue" popover-template="details.templateUrl" style="padding:3px;" class="change-request col-md-1">
                                <p style="margin:0; padding:0;">{{workItem.Id}}:</p>
                                <img ng-show="workItem.Blocked" src="~/Content/appbar.cancel.png" style="float:right" />
                                <p style="margin:0; padding:0;">{{workItem.Title | limitTo: 35}}..</p>
                                <p style="margin:0; padding:0">C:{{workItem.OverallCompletedTime}} / E: {{workItem.OverallEstimatedTime}} / R: {{workItem.OverallRemainingTime}}</p>
                                <div class="change-request-overdue" ng-show="ifWorkItemOverdue(workItem)">
                                    <p>{{workItem.overdueTime}} {{workItem.hoursMsg}} overdue</p>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="workItem in member.RequirementsAssigned | workItemsState:n">
                            <div tabindex="0" popover-trigger="focus" rel="popover" data-color="green" popover-placement="bottom" popover-template="details.templateUrl" style="padding:3px;" class="requirement col-md-1">
                                <p style="margin:0; padding:0;">{{workItem.Id}}:</p>
                                <img ng-show="workItem.Blocked" src="~/Content/appbar.cancel.png" style="float:right" />
                                <p style="margin:0; padding:0;">{{workItem.Title | limitTo: 35}}..</p>
                                <p style="margin:0; padding:0">C:{{workItem.OverallCompletedTime}} / E: {{workItem.OverallEstimatedTime}} / R: {{workItem.OverallRemainingTime}}</p>
                                <div class="requirement-overdue" ng-show="ifWorkItemOverdue(workItem)">
                                    <p>{{workItem.overdueTime}} {{workItem.hoursMsg}} overdue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>