<nav class="navbar customBar navbar-collapse" role="navigation" style="width:1919px">
    <p class="navbar-brand" style=" width:1919px; margin:0; padding:0;" ng-bind-template="Collection: {{dashboard.selectedCollectionName}}, Project: , Query: "></p>
    <div class="navbar-collapse collapse" style="width:1919px">
        <ul class="nav navbar-nav navbar-left"
            <li>
                <div ng-controller="SettingsController">
                    <button type="button" class="dropdown-toggle customBtn" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>

                    <ul class="dropdown-menu" style="height:120px" role="menu">

                        <li><button class="connect-button" ng-click="openConnection()">Connect</button></li>
                        <li role="presentation" class="divider"></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
