@import "_bootstrap.scss";

.open > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    background-color:#c05045;
    border:inset;
    margin-left:0;
    border-radius:5px;
    font-weight:600;
    border-color:#a93226;
}

.vert-divider {
    border-bottom:inset;
    border-color:#a93226;

}

.dropdown-menu {
    font-weight:600;
    background-color:#c05045;
    display:block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 500ms ease, visibility 500ms ease;
    -moz-transition: opacity 500ms ease, visibility 500ms ease;
    -o-transition: opacity 500ms ease, visibility 500ms ease;
    transition: opacity 500ms ease, visibility 500ms ease;
    border:inset;
    margin-left:0;
    border-radius:5px;
    font-weight:600;
    width:180px;
    border-color:#a93226;
}

.container-fluid {
    max-width:1920px;
    min-height: 1080px;
    background-color: #000000;
    overflow:auto;
}

.box {
    color: white;
    /*border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;*/
}

.mini-box {
    @extend .box;
    font-size:medium;
    height: 50px;
    line-height: 50px;
}

.bot-mini-box {
    @extend .mini-box;
}

.normal-box {
    @extend .box;
    font-size: 12px;
    margin-bottom:10px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.big-box {
    @extend .box;
    height: 200px;
}

.square {
    margin:3px;
    width: 150px;
    height: 120px;
    cursor:pointer;
    overflow:hidden;
}

.bug {
    @extend .square;
    background: #c05045;
}
.popover.bottom>.arrow:after {
    display:none;
}
.popover.bottom>.arrow {
    display:none;
}
.popover>.arrow {
    border-width: 15px;
}

.details-title{
    font-size:18px;
    text-align:center;
}

.warning-bg {
    background-color:#c8c804;
    border:1px inset orange;
}
.popover{
    color:white;
    border:solid 3px black;
    width:480px;
    max-height:none;
    height:auto;
    max-width:600px;
    margin-bottom:100px;
    right:10px;
    position:absolute;

}

.task-row {
    margin-left:-5px;
}
.no-margin-text{
     margin: 0; padding: 0;
}

.no-margin-text-bold {
    @extend .no-margin-text;
    font-weight:900;
}
[rel=popover][data-color=red] + .popover {
    background-color:#c05045;
}
[rel=popover][data-color=blue] + .popover {
    background-color:#4aacc5;
}
[rel=popover][data-color=green] + .popover {
    background-color:#7fa337;
}
.task-desc{
    margin-left:0;
    padding-left:5px;
    display: normal;
}
.change-request {
    @extend .square;
    background: #4aacc5;
}

.overdue{
    padding:0; margin:0; position:absolute; bottom:0; width:150px; float:left; left:0; text-align:center;
}

.bug-overdue{
    @extend .overdue;
    background: #a93226
}

.requirement-overdue{
    @extend .overdue;
    background: #7fa337;
}
*:focus {
    outline: none;
   }
.change-request-overdue{
    @extend .overdue;
    background:#288da7;
}

.requirement {
    @extend .square;
    background: #9dbb61;
}
.customBar {
    background: #c05045;
    max-width:1918px;
    padding: 0;
    margin: 0;
    height: 30px;
    min-height: 30px;
    border-radius: 0 !important;
}

.customText {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.settings-btn {
    padding: 0;
    padding-left:7px;
    margin-top:2px;
    color: white;
    font-size: 2.0em;
    border: none;
    background: none;
    margin-left: 1%;
}

.navbar {
    width: 1920px;
}

.navbar-brand {
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top:3px;
    padding: 0;
}

.connect-button{
    margin:0;
    height:50px;
    width:100%;
    color:white;
    background-color:#c05045;
    border:none;
    font-size:18px;
}

[disabled] + .connect-button{
    background-color:#000000;
}

/*.connect-button:hover{
    background-color:$brand-warning;
}*/

.modal-content {
    background-color:#c05045;
    height:auto;
}

.modal-header {
    text-align: center;
    color:white;
    font-size:24px;
    border: solid #a93226 1px;
}

.modal-body {
    text-align: left;
    color:white;
    font-size:16px;
    height:auto;
    min-height:350px;
    border: solid #a93226 1px;
    overflow-y:auto;    

}

.modal-footer {
    text-align: center;
    color:white;
    font-size:16px;
    border: solid #a93226 2px;
    border-top:none;
}

.input-url {
    color:black;
    width:400px;
}

.connection-dropdown {
    color:black;
    width:320px;
}

.modal-btn {
    width:100px;
}

.connect-btn {
    color: white;
    background-color:#cbc8c8;
    border:solid 1px #a93226;
}

.connect-btn:focus {
    color: white;
    background-color:#cbc8c8;
    border:solid 1px #a93226;
}

.connection-dropdown:disabled{
    background-color:#e4e1e1;
}